:root {
    --box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --border-radius: 0.35rem;
    --color--bg: #ffffff;
    --color--bg--secondary: #e6d9d9;
    --color--text: #000000;
}
body {
    background-color: var(--color--bg);
    color: var(--color--text);
}
form {
    text-align: center;
}
.formulario {
    font-size: 2rem;
    border-radius: var(--border-radius);
}

.boton {
    background-color: blanchedalmond;
    font-size: 2rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin: 1rem;
    padding: 1rem;
    width: 4rem; 
}
.botonResultado {
    background-color: var(--color--text);
    color:var(--color--bg);
    font-size: 2rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin: 1rem;
    padding: 1rem;
    width: 4rem; 
}

.botonDelete{
    background-color: rgb(202, 92, 92);
    color: var(--color--bg);
    font-size: 2rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin: 1rem;
    padding: 1rem;
    width: 4rem; 
}
.botonOperador{
    background-color: rgb(70, 101, 187);
    color: var(--color--bg);
    font-size: 2rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin: 1rem;
    padding: 1rem;
    width: 4rem; 
}